#DATABASE
DATABASE_URL=postgres://user:password@host:port/dbname

#EMAIL
EMAIL_USERNAME=email@example.com
EMAIL_PASSWORD="abcd efgh ijkl mnop"

#ACCESS_TOKEN
ACCESS_SECRET=1321
ACCESS_EXPIRES_IN=1d

#REFRESH_TOKEN
REFRESH_SECRET=123131
REFRESH_EXPIRES_IN=30d
REFRESH_TOKEN_THRESHOLD=86400 #1d

#VERIFICATION_TOKEN
VERIFICATION_SECRET=44141
VERIFICATION_EXPIRES_IN=1d

#SERVER
PORT=3001
HOST='0.0.0.0'
TRANSPORT=0