DATABASE_URL=postgres://user:password@host:port/dbname

EMAIL_USERNAME=email@example.com
EMAIL_PASSWORD="abcd efgh ijkl mnop"

ACCESS_SECRET=1321
ACCESS_EXPIRES_IN=1d

REFRESH_SECRET=123131
REFRESH_EXPIRES_IN=30d
REFRESH_TOKEN_THRESHOLD=86400 #1d

VERIFICATION_SECRET=44141
VERIFICATION_EXPIRES_IN=1d

SERVER_URL=http://localhost:3000/api